.center {
margin: auto;
}
.container{
height: 300px;
width: 100%;
overflow: scroll;
border: 1px solid #000000;
}
canvas {
background-color: #F6F6F6;
height: 300px;
border: 1px solid #000000;
}
.content{display: none;}

h1 {
text-align: center;
}
h2 {
text-align: center;
}
button {
border: none;
background-color: #F6F6F6;
}
body {
background-color: #FFE2E2;
}
